# Useful when changing urxvt colors
alias ureload='xrdb -merge ~/.Xresources'

# Shortcut to script with configuration
alias lock='i3exit lock'

# Colorize output
alias ls='ls -CF --color=auto'
alias ll='ls -li'
alias la='ls -lisa'
alias lsl='ls -lhFA --color=always | less'
alias tree='tree -C'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias diff='diff --color=auto'

# Better defaults
alias df='df -ahiT --total'
alias cp='cp -i'
alias more='less'
#alias mkdir='mkdir -v'
alias userlist='cut -d: -f1 /etc/passwd'
alias fhere='find . -name '
alias free='free -mt'
alias du='du -ach | sort -h'
alias ps='ps auxf'
alias psgrep='ps aux | grep -v grep | grep -i -e VSZ -e'
alias wget='wget -c'
alias histg='history | grep'
alias myip='curl http://ipecho.net/plain; echo'
#alias logs="find /var/log -type f -exec file {} \; | grep 'text' | cut -d' ' -f1 | sed -e's/:$//g' | grep -v '[0-9]$' | xargs tail -f"
alias folders='find . -maxdepth 1 -type d -print0 | xargs -0 du -sk | sort -rn'

# Quick compilation with flags
alias clang++e='clang++ -Wall -Wextra -pedantic -Werror -std=c++17'
alias g++e='g++ -Wall -Wextra -pedantic -Werror -std=c++17'

# Quick documentation using the cpprefernce AUR package
alias cppref='firefox /usr/share/doc/cppreference/en/cpp.html'
