[core]
    excludesfile = ~/.gitignore
[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[commit]
    verbose = true
[pull]
    rebase = true
[branch]
    autosetubrebase = always
[push]
    default = simple
[rebase]
    autoSquash = true
    autoStash = true
[user]
    email = bruno.belanyi@epita.fr
    name = Bruno BELANYI

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    trim = reflog expire --expire-unreachable=now --all
    chop = gc --prune=now
    optimize = repack -a -d -f --depth=250 --window=250
    pf = pull --ff-only

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
