[core]
    excludesfile = ~/.gitignore

[user]
    email = bruno.belanyi@epita.fr
    name = Bruno BELANYI

[blame]
    coloring = repeatedLines
    markUnblamables = true
    markIgnoredLines = true

[branch]
    autosetubrebase = always

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[color "diff"]
    commit = yellow
    meta = yellow
    frag = cyan
    old = red
    new = green
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newhighlight = green bold 22

[commit]
    verbose = true

[diff]
    algorithm = patience

[merge]
    tool = fugitive

[mergetool "fugitive"]
    cmd = vim -f -c \"Gdiff!\" \"$MERGED\"
    trustExitCode = true

[pager]
    diff = /usr/share/git/diff-highlight/diff-highlight | less
    log = /usr/share/git/diff-highlight/diff-highlight | less
    show = /usr/share/git/diff-highlight/diff-highlight | less

[pull]
    rebase = true

[push]
    default = simple

[rebase]
    autoSquash = true
    autoStash = true

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    trim = reflog expire --expire-unreachable=now --all
    chop = gc --prune=now
    optimize = repack -a -d -f --depth=250 --window=250
    pf = pull --ff-only
    m4 = mergetool -t vimdiff

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
