! FIXME: this line should be conditional in some way
#include ".Xresources.d/theme/easy-dark"

! XTerm settings

! Default monospace font
xterm*faceName: Monsopace
! Pretty small size, but legible
xterm*faceSize: 9

! URxvt settings

! Remove the ugly scrollbar
URxvt.scrollBar: false
! Nice looking font, small but legible
URxvt.font: xft:DejaVu Sans:mono:size=9
! Remove the weird spacing around characters
URxvt.letterSpace: -5

! Loaading extensions
URxvt.perl-ext-common: default,keyboard-select,resize-font

!!! Font resizing shortcuts:
! Ctr+Maj+=/Ctrl++ Go a size up
! Ctrl+-           Go a size down
! Ctrl+=           Go back to default
! Ctrl+?           Show current size

!!! Keyboard select shortcuts
! h/j/k/l:    Move cursor left/down/up/right (also with arrow keys)
! g/G/0/^/$/H/M/L/f/F/;/,/w/W/b/B/e/E: More vi-like cursor movement keys
! '/'/?:      Start forward/backward search
! n/N:        Repeat last search, N: in reverse direction
! Ctrl+f/b:   Scroll down/up one screen
! Ctrl+d/u:   Scroll down/up half a screen
! v/V/Ctrl+v: Toggle normal/linewise/blockwise selection
! y/Return:   Copy selection to primary buffer, Return: quit afterwards
! Y:          Copy selected lines to primary buffer or cursor line and quit
! q/Escape:   Quit keyboard selection mode

! Activate keyboard selection with Al+-Esc
URxvt.keysym.M-Escape: perl:keyboard-select:activate
! Activate backwards-search with Alt+s
URxvt.keysym.M-s: perl:keyboard-select:search
